parser: "typescript"
plugins:
  - "@trivago/prettier-plugin-sort-imports"
importOrder:
  - "^\\./instrument$"
  - "<THIRD_PARTY_MODULES>"
  - "^@hypr/(.*)$"
  - "^@/(.*)$"
  - "^[./]"
importOrderSeparation: true
importOrderSortSpecifiers: true
importOrderCaseInsensitive: true
